* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #42290a;
  background-image: -webkit-linear-gradient(to left, #080703 5%, #000000);
  background-image: linear-gradient(to left,#080703 5%, #42290a);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.card {
  background: #fff;
  margin: 4em auto;
  width: 90%;
  max-width: 496px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card aside {
  position: relative;
}
.card aside img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}


.card article {
  padding: 1.25em 1.5em;
}



.card article h2, .card article h3 {
  margin: 0;
  font-weight: 300;
}
.card article h2 {
  font-size: 1.75em;
  color: #222222;
}

.card article h2 span {
  font-weight: 700;
  color: #000000;
}

.card article h3 {
	margin: 1.25em 0;
	font-size: 1.15em;
	color: #222222;
}
.card article h4 {
  font-size: 1.30em;
  color: #7A2810;
}
.card article p {
  margin: 1.25em 0;
  font-size: 0.8125em;
  font-weight: 400;
  color: #222222;
}
.card article p span {
  font-weight: 700;
  color: #000000;
}
.card article .lien {
  margin: 2em 0 0.5em;
}

.card article .infos span {
	font-size: 1.25em;
	color: #7A2810; 
}

.card article img{
	max-width: 50px;
	max-height: 50px;
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}